<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="monty.tscf">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="TScore"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginSection.LoginActivity">
        </activity>
        <activity android:name=".LoginSection.SignupActivity" />
        <activity android:name=".LoginSection.MainActivity" />
        <activity android:name=".LoginSection.ResetPasswordActivity" />
        <activity android:name=".Fragments.MainActivity">

        </activity>
        <activity android:name=".Fragments.introfragment" />

        <activity android:name=".Fragments.BaseNavActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginSection.Splash">

        </activity>

    </application>

</manifest>